/bin/
/eclipse/
/.gradle/
/.settings/
/bin/
/build/classes
/build/dependency-cache
/build/resources
/build/sources
/build/taskLogs
/build/tmp
/gradle/
.classpath
.project
.gitignore
build.gradle
*.txt
gradlew*